section#sesion, section#logout {
    display: none;
}

section#registro, section#login {
    display: block;
}

#update, #changePass, #image {
    display: none;
}

h1, h2 {
    text-align: center;
}
form {
    width: 90%;
    max-width: 380px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px auto; 
}

label, input {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
}

button {
    max-width: 300px;
    margin: 10px;
    padding: 5px;
}

input.submit {
    background: #000;
    color: #fff;
}

input.submit:hover {
    background: #696767;
    color: #fff;
}

p.usuario {
    font-size: 1.5em;
    font-weight: bolder;
}

img {
    max-width: 200px;
}